%h1 New address

= render 'form'

- if params[:person_id]
  = link_to 'Back', person_path(params[:person_id]), class: 'btn btn-primary'
- else
  = link_to 'Back', addresses_path,class: 'btn btn-primary'
